
h3
{
	color: var(--brown);
}

h2 {
	
	margin-top: 6em;
}

.category
{
	color: var(--intense-purple);
}

.MonthReportInfo
{
	display: grid;
	grid-template-columns: 55vw 30vw;
	
	/* Single column o narrow screens */
	@media (max-width: 1024px) {
		display: block;
	}
}

.summaries > div
{
	padding: 20px;
}

.overview {
	border: 5px solid lightsalmon;
	border-radius: 10px;
}