
:root
{
	/* Raw Swatch Colors */
	--hot-pink: #EE1D52;

	/* Linked Colors / Color Variables */
	--nav-text-color: var(--hot-pink);
	--body-text-light-color: darkgray;
}

body
{
	font-family: "Roboto", "Verdana", sans-serif;
}

.HomeScreen
{
	min-height: 75vh;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.HomeWelcomeMsg > p
{
	padding-left: 10vw;
	color: var(--body-text-light-color);
}

.HomeScreen-info
{
	display: flex;
	justify-content: space-between;
	font-size: 0.75em;
}

.Reminders
{
	max-width: 35vw;
	padding-right: 10px;
	margin-top: 6em;
	
	background-color: #F9E0EA;
	border-style: solid;
	border-width: 4px;
	border-color: #FDAFB7;
	border-radius: 8px;
}

.Reminders > .reminder-entry
{
	padding-left: 2em;
}

.Reminders button
{
	background-color: black;
	color: lightgray;
}

.InfoSummary
{
	padding: 4em;
	margin: 8em;
	
	width: 40vw;
	height: 30vh;
	background-color: lightgray;
}

/* NavBar, the top navigation bar. */
.NavBar
{
	display: flex;
	justify-content: space-between; /* Distribute items along the x axis. */
	align-items: center; /* Center contents relative to each other along the y-axis. */
}

.NavBar > nav
{
	display: flex;
	justify-content: space-between;

	min-width: 40vw; /* Force the nav menu to take up most (40%) of the horizontal window space. */
}

.NavBar > nav > a
{
	padding-left: 5px; /* Add padding to the navigation links so they can't touch each other, even when squished together. */
	padding-right: 5px;

	/* Text Color / Effects */
	color: var(--nav-text-color);
	text-decoration: none;
	font-size: 1.5em; /* TODO: Make responsive to page width. */
	font-weight: bold;
}

.NavBar > nav > a:hover
{
	text-decoration: underline;
}

.NavBar img
{
	max-height: 64px;
	max-width: 64px;
	padding: 8px;
}

.Footer
{
	display: flex;
}

.Footer-icons
{
	display: flex;
	flex-direction: column; /* Make the divs (app icons vs social icons) stack vertically. */

	min-width: 25vw; /* Force the box of icons to take up at least 20% of the window width (vw). */
}

.Footer-icons img
{
	max-width: 32px;
	max-height: 32px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
}

.Footer-resources p
{
	font-size: 0.75em; /* Make the footer text size smaller. */
	margin: 0.25em; /* Compact the list of resources. */
}

.avatar {
	vertical-align: middle;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-width: 5px;
	border-color: gray;
	border-style: outset;
  }
  

.HomeScreen button
{
	margin-top: 10px;
	padding: 10px;
	background-color: #FDAFB7;
	color: #fff;
	font-size: 1.25em;
	border: none;
	cursor: pointer;
	border-style: solid;
	border-width: 4px;
	border-color: #FDAFB7;
	border-radius: 8px;
}

.MoodPoll
{
	display: flex;
	flex-direction: column;
	align-content: center;
	
	margin: 1vw;
}

.MoodPoll ul
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.MoodPoll li::marker
{
	color: white;
}

.MoodPoll li:hover
{
	color:#EE1D52;
	background-color:#FDAFB7;
}

.MoodPoll img
{
	padding: 16px;
}